body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1; /* Coloca a imagem de paisagem atrás do conteúdo */
}


.container {
    border-color: white;
    border-radius: 15px;
    border-style: solid;
    background-image: url(https://img.freepik.com/free-vector/v915_53876-174949.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

#h1 {
    text-align: start;
}

#nav {
    text-align: end;
}

.site:link {
    text-decoration: none;
    color: #0091ff;
    transition: color 0.3s;
}

.site:visited {
    color: #9500ff;
}

.site:hover {
    color: #ff4400;
    background-color: #f0f0f0;
    transition: color 0.3s, background-color 0.3s;
}

.site:active {
    color: #fd2600;
}

a.external-link {
    text-decoration: none;
    color: #0091ff;
    border-bottom: 1px solid #0091ff;
    transition: color 0.3s, border-bottom 0.3s;
}

a.external-link:visited {
    color: #9500ff;
}

a.external-link:hover {
    color: #ff4400;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ff4400;
}

a.external-link:active {
    color: #fd2600;
}

form {
    margin: 20px auto;
    max-width: 400px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #0091ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0071d0;
}


.site {
    text-decoration: none;
    color: #0091ff;
    transition: color 0.3s;
    margin: 10px;
    padding: 10px;
    border: 1px solid #0091ff;
    display: inline-block;
    border-radius: 5px;
}

@media (min-width: 360px) {
    .forms {
        padding: 20px;
        text-align: center;
        left: 50%;
        bottom: 20px;
    }

    form {
        margin: 0 auto;
        box-sizing: border-box; 

    }
}